<!--Navbar-->
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar">
    
    <!-- Navbar brand -->
    <logo><a class="navbar-brand" routerLink="/">Naxis</a></logo>
  
    <!-- Collapsible content -->
    <links>
      <!-- Links -->
      <ul class="navbar-nav nav-flex-icons ml-auto">
        <li class="nav-item" >
          <a class="nav-link waves-light" mdbRippleRadius routerLink="/products">Products</a>
        </li>
        <li class="nav-item" *ngIf="authService.loggedIn()">
          <a class="nav-link waves-light" mdbRippleRadius style="position:relative" routerLink="/cart">
            <i class="fa fa-shopping-cart"></i>
            <span *ngIf="shoppingcartQtyItems > 0" class="badge badge-pill cyan position">{{ shoppingcartQtyItems }}</span>
          </a>
        </li>
        <!-- Dropdown -->
        <li *ngIf="authService.loggedIn()" class="nav-item dropdown" dropdown>
            <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
            Account<span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-light" mdbRippleRadius routerLink="/dashboard">Dashboard</a>
                <a class="dropdown-item waves-light" mdbRippleRadius routerLink="/profile">Profile</a>
                <a class="dropdown-item waves-light" mdbRippleRadius href="#">Something else</a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item waves-light" mdbRippleRadius (click)="onLogoutClick()">Logout</a>
            </div>
        </li>
        <li class="nav-item" *ngIf="!authService.loggedIn()">
            <a class="nav-link waves-light" mdbRippleRadius routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="!authService.loggedIn()">
            <a class="nav-link waves-light" mdbRippleRadius routerLink="/register">Register</a>
        </li>
      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->